.order-management input, .order-management select, .order-management button {
    margin-top: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.order-management button {
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.order-management button:hover,
.order-management button:active,
.order-management button:focus {
    background-color: #FAC046;
}

.order-management button.active {
    background-color: #FAC046;
}