/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: auto;
  width: 100%;
  overflow-y: auto; /* Enables scrolling */
}

.container {  
  min-height: 150vh; /* Make the content taller than the viewport */
}

/* App Layout */
.app {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
  align-items: center;


  position: relative;
}

/* Navbar - Fixed at the top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px; /* Height of the navbar */
  background-color: #333;
  color: white;
  padding: 15px;
  z-index: 1000; /* Ensure it stays on top */
}

/* Main Content */
.main-content {
  flex: 1;

  transition: all 0.3s ease;
}





/* Order Management Form */
.order-management {
  width: 100%;
  max-width: 900px; /* Form width shouldn't exceed 900px */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the form */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Input and Button Styles */
.order-management input,
.order-management select,
.order-management button {
  width: 100%; /* Ensure the inputs and button stretch */
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
}

/* Button Styles */
.order-management button {
  background-color: #1e87f0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.order-management button:hover {
  background-color: #174db3;
}

